AIRTABLE_API_KEY=your_airtable_api_key_here
AIRTABLE_BASE_ID=appvVr6MVrJvEY0YJ
AIRTABLE_TABLE_ID=tblZwrZHi3WBR3NHZ
MAKE_WEBHOOK_URL=https://hook.us2.make.com/faigbglxfqhsmrjawbn01zlnum8aigpg
RESEND_API_KEY=your_resend_api_key_here
NEXT_PUBLIC_SITE_URL=https://prospects.ca
ADMIN_PASSWORD=cpr2024
